<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up For Friendspeak!</title>
     	<%= stylesheet_link_tag "main" %>  
    </head>
<body> 
	<form>	
			    	<header>
						<div> 
							<%= image_tag("fshillsboro.jpg", :alt => "friendspeaklogo", :class => 'logo') %>          
							<h1>Sign Up For Friendspeak!</h1>
					          <h2>Questions about Friendspeak? <br>Email us at <a href="mailto:friendspeak@hillsboro.org">friendspeak@hillsboro.org</a>!</h2>
				          </div>
					</header>

					<div>
					<h1>Which role are you interested in?</h1>

						<h1><%= link_to "Student Reader", signup_path %></h1>
					<p class= 'route_p'>A student reader practices their English reading, listening, and speaking skills with a partner- one of our volunteers!</p>

						<h1><%= link_to "Volunteer", volunteer_path %></h1>
					<p class= 'route_p'>A volunteer works to help our student readers improve their English, make friends, and adjust to life in Nashville. They share the love of Christ with their Friendspeak partner</p>

					</div>
					</form>