<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin!</h1>
    <p>
		You have new applicants, please go check on you admin dashboard!

		Glory to God!
		
		In Christ, 

		You
  </p>
  </body>
</html>